@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@100..900&family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#slider-boxs {
    display: flex !important;
}
.slick-slide div {
    margin: 10px;
}
.slick-arrow:before {
    color: red !important;
    /* font-size: 30px !important; */
}
.slick-prev {
    top: -92px !important;
    left: 1170px !important;
    font-size: 30px !important;
}
.slick-next {
    right: 26px !important;
    top: -92px !important;
}
.slick-prev:before, .slick-next:before {
    font-size: 32px !important;
}
/* @media only screen and (max-width:600px){
    .slick-prev {
        top: 200px !important;
        left: 30px !important;

    }
    .slick-next {
        right: 26px;
        top: -60px;
    }   
} */